<form [formGroup]="form" (ngSubmit)="changePassword()">
    <div 
        class="form-group has-feedback"
        [ngClass]="{
            'has-error': oldPassword.touched && oldPassword.invalid,
            'has-success': oldPassword.touched && oldPassword.valid
        }">
        <label for="oldpassword">Old Password</label>
        <input 
            formControlName="oldPassword"
            id="oldPassword" 
            type="text" 
            class="form-control">
            <span 
                class="glyphicon form-control-feedback"
                [ngClass]="{
                    'glyphicon-remove': oldPassword.touched && oldPassword.invalid,
                    'glyphicon-ok': oldPassword.touched && oldPassword.valid
                }" 
                aria-hidden="true">
            </span>
            <div
                *ngIf="oldPassword.touched && oldPassword.invalid" 
                class="alert alert-danger">
                <div *ngIf="oldPassword.errors.required">Old password is required</div>
                <div *ngIf="oldPassword.errors.validOldPassword">Old password is invalid.</div>
            </div>
    </div>
    <div 
        class="form-group has-feedback"
        [ngClass]="{
            'has-error': newPassword.touched && newPassword.invalid,
            'has-success': newPassword.touched && newPassword.valid
        }">
        <label for="newpassword">New Password</label>
        <input 
            formControlName="newPassword"
            id="newPassword" 
            type="text" 
            class="form-control">
            <span 
                class="glyphicon form-control-feedback"
                [ngClass]="{
                    'glyphicon-remove': newPassword.touched && newPassword.invalid,
                    'glyphicon-ok': newPassword.touched && newPassword.valid
                }" 
                aria-hidden="true">
            </span>
            <div
                *ngIf="newPassword.touched && newPassword.invalid" 
                class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">New password is required</div>
            </div>
    </div>
    <div 
        class="form-group has-feedback"
        [ngClass]="{
            'has-error': (confirmPassword.touched && confirmPassword.invalid) || (form.hasError('mismatch') && confirmPassword.valid),
            'has-success': (confirmPassword.touched && confirmPassword.valid) || (!form.hasError('mismatch') && confirmPassword.valid)
        }">
        <label for="confirmpassword">Confirm Password</label>
        <input 
            formControlName="confirmPassword"
            id="confirmPassword" 
            type="text" 
            class="form-control">
            <span 
                class="glyphicon form-control-feedback"
                [ngClass]="{
                    'glyphicon-remove': (confirmPassword.touched && confirmPassword.invalid) || (form.hasError('mismatch') && confirmPassword.valid),
                    'glyphicon-ok': (confirmPassword.touched && confirmPassword.valid) || (!form.hasError('mismatch') && confirmPassword.valid)
                }" 
                aria-hidden="true">
            </span>
            <div
                *ngIf="confirmPassword.touched && confirmPassword.invalid" 
                class="alert alert-danger">
                <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
            </div>
            <div 
                class="alert alert-danger"
                *ngIf="newPassword.valid && confirmPassword.valid && form.hasError('mismatch')">
                Passwords do not match
            </div>
    </div>
    <button 
        class="btn btn-primary" 
        type="submit" 
        [disabled]="form.invalid">
        Change Password
    </button>

</form>