<form #f="ngForm" (ngSubmit)="submit(f)">
	<div class="form-group">
		<label for="firstName">
			First Name
		</label>
		<input
			required
			minlength="3"
			maxlength="10"
			pattern="banana"
			ngModel
			name="firstName"
			#firstName="ngModel"
			(change)="log(firstName)"
			id="firstName"
			type="text"
			class="form-control"
		/>
		<div
			class="alert alert-danger"
			*ngIf="firstName.touched && firstName.invalid"
		>
			<div *ngIf="firstName.errors.required">
				First Name is required.
			</div>
			<div *ngIf="firstName.errors.minlength">
				First Name should be minimum
				{{ firstName.errors.minlength.requiredLength }} characters.
			</div>
			<div *ngIf="firstName.errors.pattern">
				First Name does not match the pattern.
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="comment">Comment</label>
		<textarea
			ngModel
			name="comment"
			#comment="ngModel"
			id="comment"
			cols="30"
			rows="10"
			class="form-control"
		>
		</textarea>
		<div class="checkbox">
			<label>
				<input ngModel name="isSubscribed" type="checkbox" />
			</label>
		</div>
		<div class="form-group">
			<label for="contactMethod">
				Contact Method
			</label>
			<select
				ngModel
				name="contactMethod"
				id="contactMethod"
				class="form-control"
			>
				<option value=""></option>
				<option
					*ngFor="let contact of contactMethods"
					[value]="contact.id"
				>
					{{ contact.name }}
				</option>
			</select>
		</div>
		<div *ngFor="let contact of contactMethods" class="radio">
			<label for="">
				<input
					ngModel
					type="radio"
					name="contactMethod_"
					[value]="contact.id"
				/>
				{{ contact.name }}
			</label>
		</div>
		<p>
			{{ f.value | json }}
		</p>
	</div>
	<button class="btn btn-primary" [disabled]="f.invalid">
		Submit
	</button>
</form>
