<favorite 
    [is-favorite]="star.isFavorite" 
    (change)="onFavoriteChanged($event)">
</favorite>

<hr style="height: 1px; border-top: 1px solid black;">

<bootstrap-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<hr style="height: 1px; border-top: 1px solid black;">
<h2>Property Binding</h2>

<like 
    [isActive]="tweet.isLiked" 
    [likesCount]="tweet.likesCount">
</like>