<div class="accordion mb-3" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" [id]="'heading' + id">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				[attr.data-bs-target]="'#collapse' + id"
				[attr.aria-expanded]="openAccordion[id]"
				[attr.aria-controls]="'collapse' + id"
				(click)="openAccordion[id] = !openAccordion[id]"
			>
				{{ title }}
			</button>
		</h2>

		<div
			[id]="'collapse' + id"
			class="accordion-collapse collapse"
			[class.show]="openAccordion[id]"
			[attr.aria-labelledby]="'heading' + id"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body">
				<ng-content></ng-content>
			</div>
		</div>
	</div>
</div>
